<div class="jumbotron center">
<h1>Look What I Made!</h1>
<h2>I made an app that works!</h2>
<p><%= link_to "Log In", "#", class: "btn btn-default btn-lg" %>
	<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
</p>
</div>